.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root{
    --fuenteprincipal: 'Outfit', sans-serif;
    --blanco: hsl(0, 0%, 100%);
    --gris: hsl(212, 45%, 89%);
    --azul: hsl(220, 15%, 55%);
    --azuloscuro: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--gris);
    text-align: center;
    font-family: var(--fuenteprincipal);

}

.contenedor{
    width: 395px;
    margin: 65px auto;
}

h1{
    font-weight: 700;
    color: var(--azuloscuro)
}

p{
    font-weight: 400;
    font-size: 15px;
    color: var(--azul);
}

img{
    border-radius: 15px;
    width: 100%;
}

.fondo{
    background-color: var(--blanco);
    border-radius: 20px;
    padding: 15px;
}